{% load static %}

<!-- Start Navbar Area -->
<div class="navbar-area">
  <!-- Menu For Mobile Device -->
   <div class="mobile-nav">
      <a href="{% url 'home' %}" class="logo">
          <img src="{% static "img/logo.png" %}" class="logo-one" alt="Logo">
          <img src="{% static "img/sticky-logo.png" %}" class="logo-two" alt="Logo">
      </a>
  </div>

  <!-- Menu For Desktop Device -->
  <div class="main-nav top-nav">
      <div class="container">
          <nav class="navbar navbar-expand-md navbar-light ">
              <a class="navbar-brand" href="{% url 'home' %}">
                  <img src="{% static "img/logo.png" %}" alt="Logo">
              </a>
              <a class="navbar-brand-sticky" href="{% url 'home' %}">
                  <img src="{% static 'img/sticky-logo.png' %}" alt="Logo">
              </a>

              <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                  <ul class="navbar-nav m-auto">
                      <li class="nav-item">
                          <a href="{% url "home" %}" class="nav-link">
                              Home 
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'about' %}" class="nav-link">
                              About
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link">
                              Pages 
                              <i class='bx bxs-chevron-right'></i>
                          </a>
                          <ul class="dropdown-menu">
                              <li class="nav-item">
                                  <a href="{% url 'members' %}" class="nav-link">
                                      Members
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url 'portfolio' %}" class="nav-link">
                                      Portfolio
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url 'pricing' %}" class="nav-link">
                                      Pricing
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url '404' %}" class="nav-link">
                                      404 Page
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url 'faq' %}" class="nav-link">
                                      FAQ
                                  </a>
                              </li>
                             
                              <li class="nav-item">
                                  <a href="{% url 'login' %}" class="nav-link">
                                      Sign In
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url 'signup' %}" class="nav-link">
                                      Sign Up
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url 'password_reset' %}" class="nav-link">Recover Password</a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url 'terms_condition' %}" class="nav-link">
                                      Terms & Conditions
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="{% url 'privacy_policy' %}" class="nav-link">
                                      Privacy Policy
                                  </a>
                              </li>
                              <li class="nav-item">
                                  <a href="#" class="nav-link">
                                      Level 1
                                      <i class="bx bx-chevron-right"></i>
                                  </a>
                                  <ul class="dropdown-menu">
                                      <li class="nav-item">
                                          <a href="#" class="nav-link">Level 2</a>
                                      </li>
                                      <li class="nav-item">
                                          <a href="#" class="nav-link">Level 2</a>
                                      </li>
                                      <li class="nav-item">
                                          <a href="#" class="nav-link">
                                              Level 2
                                              <i class="bx bx-chevron-right"></i>
                                          </a>
                                          <ul class="dropdown-menu">
                                              <li class="nav-item">
                                                  <a href="#" class="nav-link">Level 3</a>
                                              </li>
                                              <li class="nav-item">
                                                  <a href="#" class="nav-link">Level 3</a>
                                              </li>
                                          </ul>
                                      </li>
                                  </ul>
                              </li>
                          </ul>
                      </li>
                      <li class="nav-item">
                          <a href="{% url "services" %}" class="nav-link">
                              Services 
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'testimonial' %}" class="nav-link">
                              Testimonial
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url "blog" %}" class="nav-link">
                              Blog 
                          </a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url "contact" %}" class="nav-link">
                              Contact
                          </a>
                      </li>
                  </ul>

                  <div class="menu-btn">
                      {% if request.user.is_authenticated %}
                          <a href="{% url 'logout' %}" class="seo-btn">Logout</a>
                      {% else %}
                          <a href="{% url 'login' %}" class="seo-btn">Sign In</a>
                          <a href="{% url 'signup' %}" class="seo-btn">Sign Up</a>
                      {% endif %}
                  </div>
              </div>
          </nav>
      </div>
  </div>
</div>
<!-- End Navbar Area -->
